.how_it_works{
    margin: 6rem 0 2rem 0;
    padding: 4rem 2rem;
    position: relative;
    text-align: center;
}

.how_it_works::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(150, 150, 150, 0.24);
}

.how_it_works h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.how_it_works p{
    margin-bottom: 3rem;
}

.steps{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    text-align: center;
}

.steps h3{
    font-size: 1.5rem;
}

.steps p{
    font-size: 1.2rem;
}

.step{
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-img{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: var(--main-color);
    padding: 0.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.step-img img{
    width: 100%;
    height: 100%;
}

.step-img::before{
    position: absolute;
    content: attr(data-step);
    top: 25%;
    right: -20%;
    background-color: rgb(92, 91, 91);
    padding: 0.1rem;
    border-radius: 100%;
}

@media (max-width: 900px) {
    .steps{
        grid-template-columns: 1fr;
    }

    .how_it_works h2{
        font-size: 1.5rem;
    }
    .steps p{
        font-size: 1rem;
    }
    .steps h3{
        font-size: 1.2rem;
    }
}

