.transactions{
    position: absolute;
    transform: translateX(-50%);
    overflow-y: scroll;
    left: 50%;
    padding: 1rem 1rem 2rem 1rem;
    background-color: rgb(236, 243, 230);
    font-family: "PT sans","Roboto Mono",Arial, Helvetica, sans-serif;
    border-collapse: separate;
    color: var(--bg-color);
    box-shadow: 4px 9px 18px #244d9449;
    z-index: 10;
}

.modal_styling {
	position: fixed;
    width: 100%;
    height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
    display: flex;
	align-items: center;
	justify-content: center;
    z-index: 100;
}

.transactions p{
    margin-top: -1rem;
    text-align: end;
    padding-right: 1rem;
    font-size: 2.5rem;
}

.transactions p span{
    color: var(--bg-color);
    cursor: pointer;
}

th {
    font-size: 0.9rem;
}
td, th{
    padding: 0.5rem;
    color: var(--bg-color);
}
td{
    color: var(--bg-color);
}
td a{
    color: var(--main-color);
    text-decoration: underline var(--main-color);
}
th{
    text-transform: uppercase;
}
tr, tbody td{
    text-align: center;
}

@media (max-width: 700px) {
    .transactions{
        font-size: 0.9rem;
        right: 0;
        top: 0;
        width: 90%;
        transform: translate(-5%, 30%);
        height: 20rem;
        margin: auto;
    }
    th{
        font-size: 0.7rem;
    }
    td{
        font-size: 0.7rem;
    }


}

@media (max-width: 400px){
    .transactions p{
        font-size: 2.5rem;
    }
}